news-please-mongo/newsplease/.resume_jobdir
cache_dir
peacemachine/data/finetuned-transformers/*
peacemachine/data/LAC/*
peacemachine/data/translation/*
peacemachine/data/wikipedia/*
*.tgz
*.prop
.vscode
.ipynb_checkpoints
*__pycache__*
nyt_corpus.csv
google_translate_key.json
